.response {
    background-color: #bbbbbb;
    height: 2rem;
    width: 100%;
    display: none;
}

.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    z-index: 1;
    margin-top: -10px;
}
.menu-button .bar {
    display: block;
    width: 17px;
    height: 3px;
    margin: 5px auto;
    background-color: #ffffff;
    transition: 0.4s;
}
.menu {
    display: none;
    flex-direction: column;
    width: 50px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 0;
}
.menu button:hover {
    background-color: #45a049;
}
.menu-button.active .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.menu-button.active .bar2 {
    opacity: 0;
}
.menu-button.active .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
.menu a:hover {
    background-color: rgb(211, 211, 211);
}

.search {
    position: absolute;
    right: 14;
    width: 8rem;
    height: 15px;
    top: 8;
    border: 1px solid white;
    background-color: #bbbbbb;
    border-radius: 3px;
    padding: 2px;
    padding-right: 14px;
}

.search:focus,
.input:focus,
select:focus {
    outline: none;
}
.searchicon {
    height: 1rem;
    position: absolute;
    right: 15;
    z-index: 999;
    top: 7;
}

.parag{
    font-size: 13px;
}
#checks {
    text-align: left;
    margin-right: 15px;
}

@media screen and (max-width: 400px) {
    .banner {
        height: 4rem;
    }
    ul {
        display: none;
    }
    .response {
        display: block;
    }
    .titlehead {
        font-size: 15px;
        margin-top: -2rem;
    }
    .titlesub {
        font-size: 10px;
    }
    form {
        font-size: 10px;
        width: 19rem;
        height: 17rem;
    }
    .input {
        font-size: 10px;
        padding: 5px;
        width: 12rem;
    }
    .registertitle {
        font-size: 1rem;
    }
    .registerform {
        margin-top: 2rem;
    }
    select {
        font-size: 9px;
    }
    .radio {
        width: 3.5rem;
    }
    .formgroup div {
        display: flex;
        gap: 5px;
        margin-right: 14px;
    }
    .mobilenumber {
        margin-left: -2rem;
    }
    #dateof {
        width: 3.4rem;
        text-align: left;
    }
    #radiochoice {
        margin-right: 5.5rem;
    }
    .parag {
        font-size: 8px;
    }
    #checks {
        margin-right: 3rem;
    }
    .submit {
        font-size: 10px;
        padding: 5px 20px;
    }
    .cards{
        height: 8rem;
        width: 9rem;
        margin-left: -2.4rem;
        margin-top: -5rem;
    }
    input {
        font-size: 10px;
    }
    .title {
        height: 26rem;
    }
    footer {
        padding: 10px;
    }
    .groupfooter {
        text-align: center;
        display: block;
    }
    .footerpar {
        display: none;
    }
    .footertitle,
    .asdasd {
        border-bottom: 0.1px solid rgb(226, 226, 226);
        font-size: 10px;
        width: 5rem;
        cursor: pointer;
    }
    .groupfooter div {
        height: 1rem;
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
    .footerpar {
        font-size: 10px;
    }
    .footertitle:hover + .footerpar {
        display: block;
        position: absolute;
        background-color: rgb(228, 228, 228);
        margin-top: 1rem;
        width: 5rem;
        color: black;
    }
    .asdasd:hover + .footerpar {
        display: block;
        position: absolute;
        background-color: rgb(228, 228, 228);
        margin-top: -3rem;
        width: 5rem;
        color: black;
    }
}